.article-img{
        transform: scale(0.6, 0.55);


} 

.main{
    font-size: 16px;
    color:rgb(143, 140, 140);
 
}
.nav a{
    color:mediumseagreen;
    text-decoration: none;
}


header{
    background-color:rgb(240, 240, 240);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h2{
    color: gray;
}

.main form button{
    color:aliceblue;
    background-color: mediumseagreen;
}

.side-links hr {
    color:rgb(240, 234, 234);
  }

.side-links a {
    color:mediumseagreen;
    text-decoration: none;
  }


  .article{
    display: flex; 
   /* justify-content: space-between; 
   flex-wrap: wrap; */
}

h1{
    text-align: center;
}