.article.img{
    width: 200px;
} 


.nav a{
    color:mediumseagreen;
    text-decoration: none;
}

header{
    background-color:rgb(240, 240, 240);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.side-links li a{
    color:mediumseagreen;
    text-decoration: none;
  }