.article-img img{
    width: 280px;
    height: 170px;
    padding: 6% 0%;
}

.main{
    font-size: 18px;
    color:rgb(143, 140, 140);
 
}

.nav{
    list-style-type: none;
    display: flex;
}

.nav a{
    color:mediumseagreen;
    text-decoration: none;
}

.nav li{
    padding: 40px;
}

.logo{
    width: 25%;
    height: 25%;
    margin: 3%;
}


header{
    background-color: #eeeff1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -0.45rem;
}


.main form button{
    color:aliceblue;
    background-color: mediumseagreen;
    border-radius: 8px;
    height:30;
    weidth:80px
    border: 0px;
}

.form-item input, textarea{
    width:100%;
    border-radius: 5px;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    resize:vertical;
}


.side-links hr {
    color:rgb(240, 234, 234);
  }

  .side h2{
    font-weight: normal;
  }
  
.side-links a{
    color:mediumseagreen;
    text-decoration: none;
    list-style-type: none;
    display: flex;
  }


.article{
    display: flex; 
}

.content{
    justify-content: center;
    padding: 1% 17%;
} 


.article{
    display: flex; 
}


.main{
    padding: 0% 2%;
}


.side-links{
    list-style-type: none;
}

.side-links li{
    border-bottom:1px solid #DEDEDE;
    padding: 3% -0%;

}